* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    background-color: rgb(109, 142, 252);
    margin-left: 400px;
    margin-right: 400px;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.img {
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
}

#ramen-img {
    width: 400px;
    height: auto;
}

#grilled-cheese-img {
    width: 400px;
    height: auto;
}

#lasagna-img {
    width: 400px;
    height: auto;
}

div.container {
    padding-left: 200px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: white;
}

.list-center {
    display: inline-block;
    text-align: left;
    background-color: white;
}

.bg-white {
    background-color: white;
}